* {
  list-style: none;
  font-family: "poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #2ECC71;
  transition: background-color 0.4s ease 0s;
}

.col {
  transition: color 0.4s ease 0s;
}

.bg {
  transition: background-color 0.4s ease 0s;
}

form {
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  background-color: #fff;
  color: #222;
  overflow: hidden;
}
form .logo {
  font-size: 40px;
  color: #2ECC71;
}
form h3 {
  color: #2ECC71;
}
form input {
  margin-top: 15px;
}
form input:not([type=checkbox]) {
  padding: 9px 10px;
  width: 200px;
  border: none;
  border-radius: 8px;
  background-color: #e8dbdb;
}
form input[type=submit] {
  width: 200px;
  background-color: #2ECC71;
  color: #fff;
  cursor: pointer;
}
form input[type=checkbox] {
  margin-right: auto;
}
form .colors {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
}
form .colors div {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.4s ease 0s;
}
form .colors div.active {
  animation: color 0.4s ease 0s;
}
form .colors .blue {
  background-color: #2980B9;
}
form .colors .green {
  background-color: #2ECC71;
}
form .colors .cyan {
  background-color: #3498DB;
}
form .colors .orange {
  background-color: #F39C12;
}
form .colors .purple {
  background-color: #8E44AD;
}
form .colors .red {
  background-color: #E74C3C;
}

@keyframes color {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #e0e0e0;
  color: #222;
  font-size: 15px;
  border-radius: 8px;
  display: grid;
  place-content: center;
  margin: 8px;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s;
}
.close:hover {
  background-color: #E74C3C;
  color: #fff;
  cursor: pointer;
}

span {
  padding: 10px 0px;
  background-color: rgba(46, 204, 113, 0.2);
  width: 200px;
  margin-top: 15px;
  border-radius: 8px;
  text-align: center;
  color: #2ECC71;
}
